.contact{
  table-layout:fixed;
  border-collapse:collapse;
  border: 1px solid red;
}
.contact tr{
  height: 7rem;
  border: 1px solid red;
}
.contact th{
  width: 150px;
  text-align: right;
  border: 1px solid red;
}
.contact td{
  width: 480px;
  padding-left: 1rem;
  border: 1px solid red;
}
.textbox{
  width:100px;

}

#bottom{
  background-color: #green;

}
